{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </head>
    <body>
        <form method="POST" id="form">
            {% csrf_token %}
            <div id="wrapper">
                <div id="app">
                    <div class="calculator">
                        <div class="calculator-display">
                            <div id="view" class="auto-scaling-text" style="transform: scale(1, 1);"></div>
                        </div>

                        <div class="calculator-keypad">
                            <div class="input-keys">
                                <div class="function-keys">
                                    <button type="button" class="calculator-key key-clear" onclick="resetAll()">C</button>
                                    <button type="button" class="calculator-key key-sign" onclick="flip()">±</button>
                                    <button type="button" class="calculator-key key-percent" onclick="percentage()">%</button>
                                </div>
                                <div class="digit-keys">
                                    <button type="button" class="calculator-key key-0" onclick="insert(0)">0</button>
                                    <button type="button" class="calculator-key key-dot" onclick="insert('.')">●</button>
                                    <button type="button" class="calculator-key key-1" onclick="insert(1)">1</button>
                                    <button type="button" class="calculator-key key-2" onclick="insert(2)">2</button>
                                    <button type="button" class="calculator-key key-3" onclick="insert(3)">3</button>
                                    <button type="button" class="calculator-key key-4" onclick="insert(4)">4</button>
                                    <button type="button" class="calculator-key key-5" onclick="insert(5)">5</button>
                                    <button type="button" class="calculator-key key-6" onclick="insert(6)">6</button>
                                    <button type="button" class="calculator-key key-7" onclick="insert(7)">7</button>
                                    <button type="button" class="calculator-key key-8" onclick="insert(8)">8</button>
                                    <button type="button" class="calculator-key key-9" onclick="insert(9)">9</button>
                                </div>
                            </div>
                            <div class="operator-keys">
                                <button type="button" class="calculator-key key-divide" onclick="memo('÷')">÷</button>
                                <button type="button" class="calculator-key key-multiply" onclick="memo('×')">×</button>
                                <button type="button" class="calculator-key key-subtract" onclick="memo('-')">-</button>
                                <button type="button" class="calculator-key key-add" onclick="memo('+')">+</button>
                                <button type="button" class="calculator-key key-equals" onclick="calculate()">=</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="log-panel">
                        Records:
                        <ul class="log-list">
                        </ul>
                    </div>
                    <input hidden name="temp">
                </div>
            </div>
        </form>
    <script>
        var operand1 = null;
        var operand2 = null;
        var operator = null;
        var textview = document.getElementById("view")

        function insert(num) {
            console.log(textview.innerHTML);
            textview.innerHTML+=num;
        }

        function resetView() {
            textview.innerHTML = ''
        }

        function calculate() {
            if (operand1==null) return; //if nothing in the 
            operand2 = textview.innerHTML;
            if (operator=='+') {
                textview.innerHTML =  Number(operand1) + Number(operand2);
            } else if (operator=='-') {
                textview.innerHTML = Number(operand1) - Number(operand2);
            } else if (operator=='×') {
                textview.innerHTML = Number(operand1) * Number(operand2);
            } else if (operator=='÷') {
                textview.innerHTML = Number(operand1) / Number(operand2);
            }
            document.getElementsByName("temp")[0].value = (operand1==''?0:operand1) + ' ' + operator + ' ' + (operand2==''?0:operand2) + ' = ' + String(textview.innerHTML);
            $("#form").submit();
            resetAll();
        }

        function memo(op) {
            if (operand1==null) {
                operand1 = textview.innerHTML;
            }
            operator = op;
            resetView();
        }

        function resetAll() {
            resetView()
            operand1 = null
            operator = null
        }

        function percentage() {
            textview.innerHTML = Number(textview.innerHTML)/100;
        }

        function flip() {
            textview.innerHTML = -Number(textview.innerHTML);
        }

        $(document).ready(function(){
            setInterval("polling()", 1000);
        })
        function polling() {
            $.getJSON(
                "{% url 'records' %}", 
                function(data){
                    var txt = '';
                    for (var key in data){
                        txt=txt + data[key]["content"] + "<br>";
                    }
                    $(".log-list").html(txt);
                })
        }
    </script>
    </body>
    
</html>